In [2]:
# import libraries
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [3]:
from sklearn.base import BaseEstimator,TransformerMixin

In [4]:
class MeanImputer(BaseEstimator,TransformerMixin):
    def __init__(self,variables=None):
        self.variables = variables
    
    def fit(self,X,y=None):
        self.mean_dict = {}
        for col in self.variables:
            self.mean_dict[col]=X[col].mean()
        return self
    
    def transform(self,X):
        X= X.copy()
        for col in self.variables:
            X[col].fillna(self.mean_dict[col],inplace=True)
        return X

In [9]:
np.random.seed(42)
df = pd.DataFrame(np.random.randint(1, 500,(10,2)), columns=['col1','col2'])
df.iloc[1,0]=np.nan
df.iloc[5,0]=np.nan
df.iloc[7,1]=np.nan
df.iloc[9,1]=np.nan

In [10]:
df

    col1   col2
0  103.0  436.0
1    NaN  271.0
2  107.0   72.0
3  189.0   21.0
4  103.0  122.0
5    NaN  215.0
6  331.0  459.0
7   88.0    NaN
8  100.0  360.0
9  152.0    NaN

In [11]:
mean_imputer = MeanImputer(variables=["col1","col2"])

In [12]:
mean_imputer.fit(df)

MeanImputer(variables=['col1', 'col2'])

In [13]:
mean_imputer.mean_dict

{'col1': 146.625, 'col2': 244.5}

In [20]:
df = mean_imputer.transform(df)

In [16]:
import numpy as np
class LogTransformer(BaseEstimator, TransformerMixin):

    def __init__(self, variables=None):
        self.variables = variables

    def fit(self,X,y=None):
        return self
    
    def transform(self, X):
        X = X.copy()
        for var in self.variables:
            X[var]=np.log(X[var])
        return X

In [21]:
log_transform = LogTransformer(variables=['col1','col2'])

In [22]:
log_transform.transform(df)

       col1      col2
0  4.634729  6.077642
1  4.987878  5.602119
2  4.672829  4.276666
3  5.241747  3.044522
4  4.634729  4.804021
5  4.987878  5.370638
6  5.802118  6.129050
7  4.477337  5.499215
8  4.605170  5.886104
9  5.023881  5.499215

In [23]:
df

      col1   col2
0  103.000  436.0
1  146.625  271.0
2  107.000   72.0
3  189.000   21.0
4  103.000  122.0
5  146.625  215.0
6  331.000  459.0
7   88.000  244.5
8  100.000  360.0
9  152.000  244.5